<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Fragment Id='Dependency'>
        <FeatureGroup Id='RunGroup'>
            <MergeRef Id='ZlibRun' />
        </FeatureGroup>
        <FeatureGroup Id='DevGroup'>
            <MergeRef Id='ZlibDev' />
            <FeatureGroupRef Id='RunGroup' />
        </FeatureGroup>
    </Fragment>
</Wix>
